Output/*.o
Output/*.d
Output/*.elf
Output/*.bin
Output/*.hex
Output/*.map
Output/*.list
Output/*.lss
Output/*.sym
Output/*.srec
Output/*.lst
Output/*.dmp
Output/*.s19
Output/*.uvm
Output/*.uvopt
Output/*.uvproj
Output/*.uvm_report_log